@import "node_modules/bootstrap/scss/bootstrap";
$twitch: #6441a5;
$youtube: #ff0000;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        "twitch": $twitch,
        "youtube": $youtube
    ),
    $theme-colors,
);